/* Секция клиенты */
.clients .list {
  display: flex;
}

.clients-box {
  width: 170px;
  height: 90px;
  border: 1px solid $sosial-icon;
  border-radius: 4px;
  @extend %centered;
  @include transition(border);
}

.clients li:not(:last-child) {
  margin-right: 30px;
}

.client-icon {
  fill: $sosial-icon;
  @include transition(fill);
}

.customer-link:hover .client-icon,
.customer-link:focus .client-icon {
  fill: $active-color;
}

.customer-link:hover .clients-box,
.customer-link:focus .clients-box {
  border: 1px solid $active-color;
}
